{% extends "layout.html" %}

{% block content%}
<div class="contenedor0">
    <div class="titulo">
        <h1>Faculty of Mathematical Sciences,</h1>
        <h1>Universidad Nacional Mayor de San Marcos</h1>
        <h1>(FMS-UNMSM)</h1>
    </div>
</div>

<div class="contenedor1 ">
    <div class="contenedor1-0 animado2 " id="contenedor1-0">
        <!-- <span class="typing2"></span><br> -->
        <h1>SCIENTIFIC COMPUTING WEEK</h1>
        <span class="temas">TOPICS: </span>
        <span class="typing"></span>
    </div>
</div>
<div class="contenedor2">
    
    <div class="info-conferencia" >
        <div class="descrip">
            <p class="animado"> International and national academic conferences</p>
            <hr>
            <p class="animado"> Exhibition of thesis projects</p>
            <hr>
            <p class="animado"> Poster exhibition</p>
            <hr>
            <p class="animado"> Hackathon</p>
            <hr>
            <p class="animado"> Mini-courses and workshops</p>
            <hr>
            <p class="animado"> Conversatory</p>
            <hr>
            <p class="animado"> Round table</p>
        </div>
    </div>
    
    
</div>
<div class="speakers " id="speakers">
    <h1>SPEAKERS</h1>
<div class="blogspots">
    <div class="blog-posts">
        <div class="post ">
            <img class="post-img" src="https://emprendesocialdotcom.files.wordpress.com/2012/01/consultoria.jpg" alt="">
            <div class="post-content">
                <p class="date">TITULO</p>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>
        <div class="post ">
            <img class="post-img" src="https://cdn.goconqr.com/uploads/node/image/60112107/3b797f9a-55cb-4868-82d1-f214a882a1fa.jpg" alt="">
            <div class="post-content">
                <p class="date">TITULO</p>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                </h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>
        <div class="post ">
            <img class="post-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNpSpA_4YKpBfPj8HrxKMnDCuKLBP7oG-tKw&usqp=CAU" alt="">
            <div class="post-content">
                <p class="date">TITULO</p>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                </h3>
                <span class="date">July 13, 2020</span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="publicidad ">
    <h1>SPONSORS</h1>
    <div class="imagenes">
        <div class="imagen-publicidad">
            <img src="/static/css/IMG/logo mediano en fondo transparente.png" title="newControl" alt="">
        </div>
        <div class="imagen-publicidad">
            <img src="https://sites.google.com/a/spc.org.pe/cibse2015/_/rsrc/1420827646402/keynotes/COMAP.png" title="COMAP" alt="">
        </div>
        <div class="imagen-publicidad">
            <img src="/static/css/IMG/ITG.png" title="ITG" alt="">
        </div>
        <div class="imagen-publicidad">
            <img src="https://scontent.flim25-1.fna.fbcdn.net/v/t1.6435-9/102961238_1724386701059859_7970383912726741559_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHTJwY5Ris4v19JmXMLJPxuEL1nMjU6iwIQvWcyNTqLAqgYBXSa-cXTPUYfMDKk9CnEvi-sFkUgYBtv_hpeHBCt&_nc_ohc=TUsndICkaRsAX9GPRw_&_nc_ht=scontent.flim25-1.fna&oh=e43d02ae640715d19f266d16ae47bd0f&oe=61BFC65B" title="CERSEU FCM" alt="">
        </div>
    </div>
    <!-- <div class="boton-information">
        <p >
            <a href="#" ><button type="submit" class="send">More information</button></a>
        </p>
    </div> -->
</div>
<div id="social" class="footer">
    <div class="redes">
        <h2>Social networks</h2>
        <a href="https://www.facebook.com/FacultadDeCienciasMatematicasOficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://matematicas.unmsm.edu.pe/eap-computacion-cientifica.html" target="_blank"><i class="fas fa-globe"></i></a>
        <a href="https://goo.gl/maps/nfAcGC2bituyfRM96"><i class="fas fa-map-marker-alt" target="_blank"></i></a>
    </div>
    
</div>
<div class="contenedor3">
    
    <footer>
        <div class="footer-0">
            <div class="footer-1">
                <img src="https://i.pinimg.com/originals/06/8b/eb/068beb5501121c498484a0e3f6fd403c.png" alt="#" >
            </div>
                <div class="footer-2">
                    <p>ADDRESS:<br> Av. Venezuela s/n cuadra 34.Lima 1-Perú Ciudad Universitaria. UNMSM<br>
                        TELEPHONE :<br> +(51) 619 7000 Anexo 1619<br>
                        </p>
                    <p class="centrar">EMAIL:<br>epcomputacion.matematica@unmsm.edu.pe</p>
                </div>
        </div>
        
    </footer>
    <div class="footer-3">
        <p>Page Event for: <a href="www.unmsm.edu.pe" style="text-decoration: none;" class="text-white">UNMSM</a>, by <a
        href="twitter.com/droidmk_" style="text-decoration: none;" class="text-white">@team_β</a>.<br> &copy; 2021 - All rights reserved. </p>
    </div>
</div>

{% endblock%}