{% extends "layout.html" %}

{% block content%}

<div class="container-fluid">
<h3>My Assists</h3>
<span class="border"></span>
<div class="table-responsive-sm">
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Horario</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for Expos in df %}
        <tr>
            <td>{{ Expos.tema }}</td>
            <td>{{ Expos.descripcion }}</td>
            <td>{{ Expos.horario }}</td>
            <td>{{ Expos.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock%}